@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .hero {
    @apply relative flex flex-col-reverse justify-end items-center;
    @apply sm:flex-row sm:h-[90%] w-screen sm:w-11/12 lg:w-9/12 md:w-5/6 m-auto;
  }
  .panel {
    @apply sm:absolute flex flex-col justify-center inset-0 mt-10 mb-20 sm:my-auto;
    @apply w-10/12 h-[calc(100vh_-_100px)] sm:h-full bg-gray-100 shadow-2xl shadow-zinc-500;
    @apply roboto-light;
  }
  .main-app {
    @apply flex flex-col justify-between z-10;
    @apply h-[calc(100vh_-_64px)] sm:h-[850px] w-screen mx-10 max-w-[400px] sm:w-1/2 mt-5 sm:mt-auto sm:mb-5;
    @apply bg-gray-900 border-l-gray-950;
  }
  .gradient-to-b-teal {
    @apply bg-gradient-to-b from-teal-700 from-10% via-teal-800 via-90% to-teal-950;
    @apply hover:from-teal-600 hover:from-10% hover:via-teal-700 hover:via-90% hover:to-teal-800;
  }
}

@layer utilities {
  #chatBox {
    background-image: linear-gradient(rgba(255,255,255,0.3), rgba(255,255,255,0.3)), url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTYiIHZpZXdCb3g9IjAgMCAxNiAxNiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICA8cGF0aCBkPSJNOC41NyAxLjU3bC02Ljk5IDYuOTkiIHN0cm9rZT0iI2UyZmNmMyIgc3Ryb2tlLXdpZHRoPSIwLjgiLz4KICA8cGF0aCBkPSJNMS41NyAxLjU3bDYuOTkgNi45OSIgIHN0cm9rZT0iI2NlZGNiNyIgc3Ryb2tlLXdpZHRoPSIwLjgiLz4KICA8cGF0aCBkPSJNOC41NyAxNC41MWwtNi45OS02Ljk5IiBzdHJva2U9IiNlMmZjZjMiIHN0cm9rZS13aWR0aD0iMC44Ii8+Cjwvc3ZnPgo=');;
    background-size: 16px 16px;
  }
  .roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
  }

  .roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  .roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
  }

  .roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  .shape-circle {
    border-radius: 50%;
  }
  .shape-triangle {
    width: 0;
    height: 0;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-bottom: 50px solid;
  }
}
